<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page_title}}</title>
    <link type="text/css" rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.4.1/dist/paper.min.css">    
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="static/styles/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>    
</head>
<body class="bg_img">
    <div>
    <header>
        <a name="top"></a>            
        <nav class="navbar navbar-light bg-faded">            
            <a class="paper-btn btn-primary" href="/" type="button">home</a>
            <a class="paper-btn btn-secondary" href="/blog" type="button">all posts</a>
            <a class="paper-btn btn-success" href="/newpost" type="button">new post</a>
            <a class="paper-btn btn-warning" href="/login" type="button">login</a>
            <a class="paper-btn btn-danger" href="/logout" type="button">logout</a>
        </nav>
    </header>
    </div>    
    <hr>
    <hr>
    <div class="container-fluid">    
      <div class="jumbotron jumbotron-billboard">
        <div class="img"></div>
    
          <h2 id="intro">Blogz</h2>
            <p id="slogan">
              Blogtime Storyz for the Young & Young @ Heart
            </p></div>  
    
        <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}    
        <ul>
            {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
            {% endfor %}        
        </ul>    
        {% endwith %}
    {% block content %}
{% endblock %}
                 
    </div>
</body>
</html>