{% extends "base.html" %}
{% block content %}

<a href="/signup" id="cna" class="btn-large btn-warning" type="button">create new account</a> <!-- paper-btn btn-secondary -->
<p></p>   
<h1>Log In</h1>
<form action="/login" method="POST">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <span><input class="entry" name="username" type="text" autofocus value="{{username}}"></span>
                <span class="error">{{username_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <span><input class="entry" name="password" type="password" , value="{{password}}"></span>
                <span class="error">{{password_error}}</span>
            </td>
        </tr>
    </table>
    <p></p>
    <!-- <a href="/newpost" id="create" class="btn-large btn-success" type="button">Log in</a> -->
    <input class="paper-btn btn-large btn-secondary" id="li" type="submit" value="login"> 
    <!--class="button" type="submit" value="Login">-->
</form>
{% endblock %}