{% extends "base.html" %}
{% block content %}

<h1 class="heading">Storytime!</h1>
<form action="/newpost" method="POST">
<div> <!-- added div as test -->
  <label>
    Name your story:<br/>
      <p class="error">{{title_error}}</p>
        <input class="entry" type="text" name="title" autofocus size="100%" value="{{title}}">   
<br/>
    </label>    
</div>
<div>    
    <label>
    Your amazing story goes here:<br/>
      <p class="error">{{body_error}}</p>    
        <textarea id="blogspace" name="body" rows="15" cols="135" value="{{body}}"></textarea>
    <br/>
</div>
    <input class="paper-btn btn-danger" type="submit" value="Post your story!">
    </label>
</form>

{% endblock %}