{% extends "base.html" %} {% block content %}
<h1>Create New Account</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input class="entry" name="username" type="text" autofocus value="{{username}}">
            </td>
            <td>
                <p class="error">{{username_error}}</p>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input class="entry" name="password" type="password">
            </td>
            <td>
                <p class="error">{{password_error}}</p> <!-- trying danger alert. Revert to class="error" if change dysfunctional -->
            </td>
        </tr>
        <tr>
            <td><label for="verify">Retype Password</label></td>
            <td>
                <input class="entry" name="verify" type="password">
            </td>
            <td>
                <p class="error">{{verify_error}}</p>
            </td>
        </tr>
    </table>
    <input class="paper-btn btn-large btn-success" id="ca" type="submit" value="create account">
    <!-- <input class="button" type="submit" value="Create Account"> -->
</form>
{% endblock %}